body {
    height: 95%;
}

.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 35%;
}

.content{
    text-align: center;
    height: 70%;
}

.table{
    text-align: center;
    padding: 10% 20%;
    margin: 5%;
    inner-border: 5px solid black;
}

th{
    padding: 10px;
    font-size: 24px;
}

td{
    padding: 8px;
    font-size: 17px;
}

.quiz{
    font-size: 25px;
    margin: 10px;
    text-align: center;
    height: auto;
}


.answers{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p .visibleAnswers{
    width: 50%;
    text-align: left;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
}

.invisible{
    display: none;
}



