html, body{

}
.content{
    max-width: 1500px;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.table{
    text-align: center;
    padding: 10% 20%;
    margin: 5%;
    inner-border: 5px solid black;
}

th{
    padding: 10px;
    font-size: 24px;
}

td{
    padding: 8px;
    font-size: 17px;
}

.quiz{
    font-size: 25px;
    margin: 10px;
    text-align: center;
    height: auto;
}


.answers{
}

.graphics{
    width:50%;
    height:auto;
    /*height: 60%;*/
    left: 50%;
    top: 50%;
    border-radius: 8px;
}

.visibleAnswers{
    width: 55%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.howManyProperAnswers{
    font-size: small;
    font-weight: lighter;
}

.query{
    font-weight: bold;
    font-size: larger;
}

.label{
    font-size: 60%;
    height: auto;
    width: 35%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
    display: inline-block;
    font-size: inherit;
    text-align-all: center;
}

.checkedLabel{
    color: white;
    background: black;
}

.hoverover{
    box-shadow: 10px 10px 5px grey;
}

.confirmYourChoice{
    width: 40%;
    height: 3%;
    background: black;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding: 1%;
    border-radius: 6px;
    display: inline-block;
}

.counter{
    margin: 1%;
    display: inline-block;
}


.invisible{
    display: none;
}

.left{
    float: left;
    margin: 2%;
}

.right{
    color: white;
    float: right;
    margin: 2%;
}



